.clientes-list-container {
    display: flex;
    height: 100vh;
}

.search-container {
    margin-bottom: 20px;
    text-align: center;
}

.search-input {
    padding: 10px;
    width: 100%;
    max-width: 400px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.no-clients-message {
    text-align: center;
    color: #777;
    font-size: 18px;
}

.clientes-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}