.home-container {
  padding: 20px;
  font-family: "Poppins", sans-serif;
  margin-top: 80px;
  background-color: #f0f2f5;
}

.home-banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.home-banner-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
}

.home-banner-text {
  flex: 1;
  padding-right: 20px;
}

.home-banner-title {
  font-size: 3.5rem;
  font-weight: bold;
  color: #133c55;
  margin-bottom: 1rem;
}

.home-banner-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.home-banner-button {
  background-color: #133c55;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-banner-button:hover {
  background-color: #0f2a42;
}

.home-banner-placeholder {
  flex: 1;
  width: 300px;
  height: 300px;
  background-color: pink;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para la sección Sobre Nosotros */
.home-sobre-nosotros-container {
  padding: 40px;
  margin-top: 50px;
}

.home-sobre-nosotros-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-sobre-nosotros-text {
  flex: 1;
  margin-right: 20px;
}

.home-sobre-nosotros-text h2 {
  font-size: 2.5rem;
  color: #133c55;
  margin-bottom: 20px;
}

.home-sobre-nosotros-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.home-sobre-nosotros-images {
  display: flex;
  gap: 20px;
}

.home-image-placeholder {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  border-radius: 10px;
}

/* Estilos para la sección Nuestro Equipo */
.home-nuestro-equipo-container {
  padding: 40px;
  margin-top: 50px;
}

.home-nuestro-equipo-title {
  font-size: 2.5rem;
  color: #133c55;
  margin-bottom: 20px;
}

/* Estilos adicionales */
.home-scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #133c55;
  color: white;
  padding: 10px;
  border-radius: 20%;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.home-scroll-to-top:hover {
  background-color: #0f2a42;
}

.home-arrow-up-icon {
  font-size: 40px;
}
