.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #f0f2f5;
    font-family: "Poppins", sans-serif;
}

.form-container {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

.user-type-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    /* Permite que los inputs se acomoden en varias filas cuando no hay suficiente espacio */
    gap: 1rem;
    margin-bottom: 15px;
    justify-content: space-between;
}

.horizontal-form .form-group {
    justify-content: space-evenly;
}

input,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    width: 48%;
    /* Se ajusta el ancho de cada input al 48% para que dos inputs quepan en una fila */
    box-sizing: border-box;
}

input[type="date"],
input[type="number"],
input[type="password"],
select {
    width: 100%;
    /* Algunos inputs pueden tomar todo el ancho */
}

.register-button {
    background-color: #133c55;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    margin-top: 10px;
    width: 100%;
    /* El botón ocupa todo el ancho */
}

.register-button:hover {
    background-color: #0f2a42;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .form-group {
        flex-direction: column;
        gap: 0.5rem;
    }

    input,
    select {
        width: 100%;
        /* En pantallas pequeñas, los inputs ocupan todo el ancho */
    }
}