.home-container {
    padding: 20px;
    font-family: "Poppins", sans-serif;
    margin-top: 80px;
  }
  
  .banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .banner-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }
  
  .banner-text {
    flex: 1;
    padding-right: 20px;
  }
  
  .banner-title {
    font-size: 3rem;
    font-weight: bold;
    color: #133c55;
    margin-bottom: 20px;
  }
  
  .banner-description {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .banner-button {
    background-color: #133c55;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .banner-button:hover {
    background-color: #0f2a42;
  }
  
  .banner-placeholder {
    flex: 1;
    width: 300px;
    height: 200px;
    background-color: pink; /* Color rosa para marcar el área de la imagen */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilos para la sección Sobre Nosotros */
  .sobre-nosotros-container {
    background-color: #f5f5f5;
    padding: 40px;
    margin-top: 50px;
  }
  
  .sobre-nosotros-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .sobre-nosotros-text {
    flex: 1;
    margin-right: 20px;
  }
  
  .sobre-nosotros-text h2 {
    font-size: 2.5rem;
    color: #133c55;
    margin-bottom: 20px;
  }
  
  .sobre-nosotros-text p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  .sobre-nosotros-images {
    display: flex;
    gap: 20px;
  }
  
  .image-placeholder {
    width: 200px;
    height: 200px;
    background-color: lightblue; /* Color azul para marcar el espacio de las imágenes */
    border-radius: 10px;
  }
  
  /* Otros estilos */
  h1 {
    color: #133c55;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  